* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #FFC300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image:url(../arquivos/BackGround-Tech-Black.jpg)
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 1px 1px 10px 1px #ffff;
}

header ul{
    display: flex;    
}

header ul li{
    padding: 5px;   
}

header ul li a:hover{
    color:white;
    text-decoration: underline;
}

header ul li a{
    font-family: 'fonte zrnic';
    transition: 500ms;
}

header ul{
    border-bottom: 2px dashed #fff;
}

.container {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container .name h1 {
    font-family: 'fonte techno';
    font-size: 60px;    
}

.container .name h5 {
    font-family: 'fonte zrnic';
    font-size: 25px;
    margin-top: -26px;
}

#arrow{
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

#logo{
    max-width: 300px;
    max-height: 3000px;
}

@keyframes blink{
    to{
        visibility: hidden;
    }
}
#animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.form div p{
    font-family: 'fonte zrnic';
    text-align: center;  
     
}
#about p {  
    font-family: 'fonte zrnic';
    max-width: 600px;
    margin: 0 auto;
    font-size: 60;
}

.active{
    display: block !important;
}

.form {    
    width: 40%;
}

#form{
    justify-content: center;
}

.form input {
    width: 50%;   
    padding: 5px 10px; 
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.form button {
    /* animação com hover */
    width: 15%; 
    padding: 5px 10px;
    background: linear-gradient(to right, #c09717 50%, #9c551b 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 100;
    border: none; 
    cursor: pointer;  
    transition: all 400ms ease-out;
    border-radius: 0px 10px 10px 0px;
    margin-left: -8px;
}

.form button:hover{
    background-position: left bottom;    
}
.form form{
    margin: 10px;
    padding: 5px;    
    justify-items:center;
}

@media only screen and (max-width: 768px){
    .form{
        width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .container .name h1{
        font-size: 60px;
    }
    .container .name h5{
        font-size: 20px;
    }

    #about p{
        max-width: 80%;
        font-size: 18px;
        text-align: justify;
    }
}


#soft-skills{
    font-family: 'fonte zrnic';
    font-size: 48px;
    margin: 5px 0px 10px 0px; 
    padding-bottom: 12px;         
}

.flex-box {
    display: flex;
    justify-content: space-around;        
}

.card{    
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;    
    pointer-events: none   
    
    }

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden; 
     
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; 
    clip-path: circle(120px at center); 
    transition: 0.5s; 
    pointer-events: visible; 
}

.card:hover .circle:before{
    background: #fff;
    clip-path: circle(400px at center);
}

.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    width:  250px;
    pointer-events: visible;
    border-radius: 20px;
    transition: 0.5s; 
}

.card:hover img{
    left: 60%;
    top: 22%;
    height: 360px;
    width:  360px;
    border-radius: 20px;
}

.card .content{
    position: relative;
    padding: 15px 15px 15px 15px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content p{
    color: #000;
    text-align: justify;    
    font-family: 'Nunito';
    font-weight: 600;
    margin-top: 360px;
}

.card #creativity{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.80); 
    font-weight: 400;
    font-family: 'fonte zrnic';
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    z-index: 1000;
}

.card:hover #creativity{
    font-size: 60px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    top: 52%;
     
}

/* CARD DOIS */

.card-dois{
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;    
    pointer-events: none
    
}

.card-dois .circle-dois{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;  
}


.card-dois .circle-dois::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; 
    clip-path: circle(120px at center); 
    transition: 0.5s; 
    pointer-events: visible; 
}

.card-dois:hover .circle-dois:before{
    background: #fff;
    clip-path: circle(400px at center);
}

.card-dois img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    width:  250px;
    pointer-events: visible;
    border-radius: 20px;
    transition: 0.5s; 
}

.card-dois:hover img{
    left: 60%;
    top: 22%;
    height: 360px;
    width:  360px;
    border-radius: 20px;
}

.card-dois .content-dois{
    position: relative;
    /* left: 20%;
    width: 50%; */
    padding: 15px 15px 15px 15px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card-dois:hover .content-dois{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card-dois .content-dois p{
    color: #000;
    text-align: justify;    
    font-family: 'Nunito';
    font-size: 15px;
    font-weight: 600;
    margin-top: 360px;
}

.card-dois #collaboration{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.80); 
    font-weight: 400;
    font-family: 'fonte zrnic';
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    z-index: 1000;
}

.card-dois:hover #collaboration{
    font-size: 60px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    top: 52%;
    /* left: 26%;  */
}

/* CARD TRÊS */
.card-tres{
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;    
    pointer-events: none
}

.card-tres .circle-tres{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;  
}

.card-tres .circle-tres::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; 
    clip-path: circle(120px at center); 
    transition: 0.5s; 
    pointer-events: visible; 
} 


.card-tres:hover .circle-tres:before{
    background: #fff;
    clip-path: circle(400px at center);
}

.card-tres img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    width:  250px;
    pointer-events: visible;
    border-radius: 20px;
    transition: 0.5s;  
}

.card-tres:hover img{
    left: 60%;
    top: 22%;
    height: 360px;
    width:  360px;
    border-radius: 20px;
}

.card-tres .content-tres{
    position: relative;
    /* left: 20%; */
    /* width: 100%; */
    padding: 15px 15px 15px 15px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card-tres:hover .content-tres{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card-tres .content-tres p{
    color: #000;
    text-align: justify;    
    font-family: 'Nunito';
    font-size: 15px;
    font-weight: 600;
    margin-top: 390px;
}

.card-tres #empathy{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.80); 
    font-weight: 400;
    font-family: 'fonte zrnic';
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    z-index: 1000;
}

.card-tres:hover #empathy{
    font-size: 60px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    top: 52%; 
}

footer{    
    font-family: 'fonte zrnic';
    text-align: center;
    padding-bottom: 10px;
}